@import './variables.scss';

.carou {
    background-color: wheat;
    display: flex;
    justify-content: center;
    width: 100%;
}

.carou-container{
    width : 100%;
}

.carousel-container {
    width: 100%;
}